ul{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

nav{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: black;
    display: flex;
    gap: 150px;

}

header {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
}

h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}